@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply h-full bg-gray-100;
  }

  body {
    @apply h-full;
  }

  @font-face {
    font-family: "Inter";
    src:
      local("Inter-VariableFont_slnt_wght"),
      url("./shared/assets/fonts/Inter-VariableFont_slnt_wght.ttf")
        format("truetype");
  }

  @font-face {
    font-family: "Monserrat";
    src:
      local("Montserrat-VariableFont_wght"),
      url("./shared/assets/fonts/Montserrat-VariableFont_wght.ttf")
        format("truetype");
  }
}
